.dialog {
  color: rgba(var(--base-black-rgb), 0.8);
  min-width: 300px;
}

.dialog-icon {
  text-align: center;
}

.dialog-icon .fail-icon {
  color: red;
}

.dialog h2,
.dialog p {
  text-align: center;
}
