.dialog {
  color: var(--primary-color);
  min-width: 300px;
}

.dialog-icon {
  text-align: center;
}

.dialog-icon .success-icon {
  color: green;
}

.dialog h2,
.dialog p {
  text-align: center;
}

.open-playlist-btn {
  background-color: var(--secondary-color);
  display: block;
  margin: 0.5rem auto;
}
