.preview-track-container,
.preview-track-container .track-info {
  color: rgba(var(--base-black-rgb), 0.8);
}

.preview-track-container {
  min-width: 300px;
}

audio {
  display: block;
  width: 100%;
}

.listen-full-song-btn {
  display: block;
  margin: 0 auto;
  background-color: var(--secondary-color) !important;
}

.there-is-no-preview-url {
  text-align: center;
}
