.search-bar-container {
  padding: 5rem 0;
}

.search-bar-container input {
  display: block;
  width: 287px;
  padding: 0.88rem 0;
  border: 1px solid var(--base-white);
  border-radius: 3px;
  margin: 2.22rem auto;
  color: var(--primary-color);
  text-align: center;
  font-size: 1rem;
}

.search-button {
  display: block;
  margin: 0 auto;
}
