/* Import Normalize.css to standardize styles across browsers */
@import "normalize.css";

/* Define root CSS variables for easy theming */
:root {
  --primary-color: #010c3f;
  --secondary-color: #6c41ec;
  --base-white: #fff;
  --base-white-rgb: 255, 255, 255;
  --primary-color-rgb: 1, 12, 63;

  --text-color: #fff;
  --font-size-base: 16px;
  --spacing-base: 0.5rem;
}

/* Set up box-sizing for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set default font size and base font for body */
html {
  font-size: var(--font-size-base);
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--base-white);

  background-image: url("../assets/images/background_photo_desktop.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

/* Default anchor tag styling */
a {
  color: inherit;
  text-decoration: none;
}

/* Provide smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Set base line height and default typography for lists */
ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* input */
input:focus {
  outline: none;
}

/* Button styling reset */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-base);
}

/* Utility classes */
.button {
  cursor: pointer;
  min-width: 200px;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 500;
}

.mr-1 {
  margin-right: var(--spacing-base);
}

.mb-_5 {
  margin-bottom: calc(var(--spacing-base) / 2);
}
.mb-1 {
  margin-bottom: var(--spacing-base);
}
.mb-2 {
  margin-bottom: calc(var(--spacing-base) * 2);
}
.mb-3 {
  margin-bottom: calc(var(--spacing-base) * 3);
}

.pb-1 {
  padding-bottom: var(--spacing-base);
}
.pb-2 {
  padding-bottom: calc(var(--spacing-base) * 2);
}

/* Default responsive layout */
@media (max-width: 768px) {
  html {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 0.75rem;
  }
}
