.main-container {
  padding: 0 17% 10%;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.card-content {
  background-color: rgba(var(--primary-color-rgb), 0.7);
  padding: 0.88rem;
  box-shadow: 0 4px 2px 2px #000000;
  border-radius: 8px;

  /* height: 950px;
  overflow-y: scroll; */
}
