.track-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(var(--base-white-rgb), 0.8);
}

.track-information {
  cursor: pointer;
}

p.track-info {
  color: rgba(var(--base-white-rgb), 0.8);
}

.track-action {
  color: var(--base-white);
  font-size: 1.125rem;
}
